<div ng-controller="alumnosCtrl">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar" ng-model="searchAlumnos">
    </div>
    <div class="text-right">
        <button class="btn btn-primary mb-3" ng-click="alumnosDetails()">Inscribir alumno</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Alumno</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="alumno in alumnos | filter:searchAlumnos"  ng-click="alumnosDetails(alumno)">
                <td>{{$index}}</td>
                <td>{{alumno.Name}}</td>
            </tr>
        </tbody>
    </table>
</div>