<div ng-controller="alumnosCtrl">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar" ng-model="searchAlumnos">
    </div>
    <div class="text-right">
        <button class="btn btn-primary mb-3" ng-click="alumnosDetails()">Inscribir alumno</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Alumno</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="alumno in alumnos | filter:searchAlumnos">
                <td  ng-click="alumnosDetails(alumno)">{{$index + 1}}</td>
                <td  ng-click="alumnosDetails(alumno)">{{alumno.nombre}}</td>
                <td><button ng-click="alumnosDetails(alumno)" class="btn btn-primary">Editar</button></td>
                <td><button ng-click="alumnosMateriasDetails(alumno)" class="btn btn-secondary">Inscribir materia</button></td>
            </tr>
        </tbody>
    </table>
</div>