<div ng-controller="materiasCtrl">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar" ng-model="searchMaterias">
    </div>
    <div class="text-right">
        <button class="btn btn-primary mb-3" ng-click="materiasDetails()">Agregar materia</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Materia</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="materia in materias | filter:searchMaterias"  ng-click="materiasDetails(materia)">
                <td>{{$index + 1}}</td>
                <td>{{materia.nombre}}</td>
            </tr>
        </tbody>
    </table>
</div>