<div class="modal-header">
		<h3 class="modal-title">Ingresar materia</h3>
</div>	
<div class="modal-body">
    <div class="modal-body">
        <form name="myForm" novalidate>
            <div class="form-group">
                <label for="nombre">Materia</label>
                <input type="text" class="form-control" placeholder="Nombre de la materia" ng-model="materiaDetail.nombre" required>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="save()" ng-show="myForm.$valid" translate>Guardar</button>
	<button class="btn btn-danger" ng-click="delete()" ng-show="materiaDetail._id" translate>Borrar</button>
	<button class="btn btn-warning" ng-click="cancel()" translate>Cancelar</button>
</div>